.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.dashboard-content {
  display: flex;
  flex: 1;
}

.dashboard-sidebar {
  width: 15%;
  border-right: 1px solid #ccc;
  padding: 10px;
}

.dashboard-main {
  flex: 1;
  padding: 10px;
}
